
@section Msg{ <p style="color:white;">+ @ViewBag.Msg</p>}
@{

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml ";
}

<html>


<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div style="margin-left:-228px;">

        @Ajax.BeginForm("ConvoqueDossier4eme", "Admins", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "div2", InsertionMode = InsertionMode.Replace, })

        @Html.TextBox("CIN", null)
        <input type="submit" value="Valider" style="border-radius:12px; background-color:cornflowerblue; color:white;" />


        @{Html.EndForm();}
    </div>


    <div id="div2"></div>
</body>
</html>